.error-box {
    height: 100%;
    position: fixed;
    width: 100%;
    background-image: url('src/assets/media/cover.png');
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    height: 100vh;
    overflow: hidden !important;
}

.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px; 
}

.error-body {
    padding-top: 5%; 
}

.error-body h1 {
    font-size: 100px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 4px 4px 0 #263238;
    line-height: 210px;
}

.error-body h3, p, a {
    color: #ffffff;
}

.error-body a {
    color: #057F86;
}